<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Cart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css">

    <!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css"
rel="stylesheet"
/>
</head>

<body style="background-color: #d2c9ff;">
  <%- include('userNav.ejs') %>
  <section class="h-100 h-custom" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-12">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">My Orders</h1>
                      <h6 class="mb-0 text-muted"><%=products.length %> items</h6>
                    </div>


                    <!-- Loop through the products and generate dynamic HTML -->
                    <% for (let j=0;j<products.length;j++) { %>
                    <hr class="my-4">
                    <div class="row mb-4 me-5 d-flex justify-content-between align-items-center">
                      
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img src="/<%= products[j].IMAGE %>" class="img-fluid rounded-3" alt="<%= products[j].NAME %>">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted"><%=products[j].TYPE_OF %></h6>
                        <h5 class="text-black mb-0"><%= products[j].NAME %></h5>
                        <hr>
                        <h5 class="text-grey mb-0"><%= products[j].SHOP_NAME %></h5>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        
                        <input id="quantity_<%= j %>" min="0" max="<%= products[j].QUANTITY%>" name="quantity" value="<%=products[j].AMOUNT%>" type="number" class="form-control form-control-sm" />
                        
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0" id="price_<%= j %>"> <%= products[j].PRICE * products[j].AMOUNT %>  TK</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <button class="btn btn-sm"><%=products[j].ORDER_STATUS%></button>



                      </div>
                    </div>
                    <% } %>





                    <hr class="my-4">

                    <div class="pt-5">
                      <h6 class="mb-0"><a href="#!" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>

                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"
></script>
  

    <style>


@media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}

.card-registration .select-arrow {
top: 13px;
}

.bg-grey {
background-color: #eae8e8;
}

@media (min-width: 992px) {
.card-registration-2 .bg-grey {
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
}
}

#cancel {
  background-color: #b6b6bd; /* Change this to your desired background color */
  color: rgb(26, 24, 24); /* Text color */
  border: none; /* Remove the border */
  border-radius: 20px; /* Rounded corners */
  padding: 7px 15px; /* Adjust padding as needed */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for the lifted effect */
  cursor: pointer; /* Change cursor on hover */
}

#cancel:hover {
  background-color: #bddbd2; /* Change this to the hover background color */
}

@media (max-width: 991px) {
.card-registration-2 .bg-grey {
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
}
}
        

    </style>
  </body>
</html>